<div class="container">
    <h1>Boote</h1>

    <form action="/boat">
        <label>Suche</label>
        <input type="text" value="" length="20" name="q">
        <button class="blue-button" type="submit">Suche</button>
    </form>

    <div class="item-content">
        <table class="table">
            <thead>
                <th>Bestellnr</th>
                <th>Datum</th>
                <th>Bestellung</th>
            </thead>
            <tbody>
                <% reservations.forEach(function(reservation){ %>
                    <tr>
                        <td>
                            <%= reservation.id %>
                        </td>
                        <td>
                            <%= reservation.date %>
                        </td>
                        <td>
                            <% reservation.boats.forEach(function(boat){ %>
                                <%= boat.name %><BR>
                            <% }); %>

                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <a class="blue-button" href="/boat/new">Hinzufügen</a>
    </div>
</div>
</div>