<div class="container">
    <div class="mt-4">
        <h1>Bestellbestätigung:</h1>
        <div class="mb-4">
            <div class="h5">
                Bestellnummer:
                <%= reservation.id %>
            </div>
            <div class="h5">
                Datum:
                <%= reservation.date %>
            </div>
            <div class="h5">
                Uhrzeit:
                <%= reservation.time %>
            </div>
            <ul class="list-group">
                <li class="list-group-item active">Boote</li>
                <% reservation.boats.forEach(function(boat){ %>
                    <li class="list-group-item">
                        <%= boat.name %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <a class="btn btn-primary mb-4" href="/" aria-label="Startseite">Startseite</a>
</div>