<div class="container">
    <h1>Boote Reservieren</h1>
        <form action="/reservation/step2" method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <div class="form-group">
                <label>Mietdatum</label>
                <input type="date" class="form-control" name="datum" required>
            </div>
            <div class="form-group">
                <label>Uhrzeit</label>
                <input type="time" class="form-control" name="zeit" required>
            </div>
            <a class="btn btn-secondary mb-4" href="/boote" aria-label="Zurück">Zurück</a>
            <button class="btn btn-primary mb-4" type="submit" aria-label="Weiter">Weiter</button>
        </form>
</div>