<div class="container">
    <form action="/boat" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" maxlength="80" name="name" required>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Preis/h</label>
                <input type="text" class="form-control" maxlength="8" name="price" required>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Beschreibung</label>
                <input type="text" maxlength="255" class="form-control" size="40" name="description" required>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Zustand</label>
                <input type="text" class="form-control" maxlength="20" name="condition" required>
            </div>
        
        <div class="form-group">
            <label class="col-form-label-lg">Kategorie</label>
             <select class="form-select" name="category">
            <% categories.forEach(function(category){ %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
            </select>
        </div>
    </div>
        <button type="submit" class="blue-button mt-4">Hinzufügen</button>
        <a class="blue-button mt-4" href="/welcome">Zurück</a>
    </form>
</div>