<div class="container">
    <div class="card w-100 mt-4">
        <h4 class="card-header">
            Boot Eintrag anzeigen
        </h4>
        <div>
            <div class="row">
                <div class="col-2">
                    Name
                </div> 
                <div class="col-10">
                    <%= boat.name %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Preis
                </div> 
                <div class="col-10">
                    <%= boat.price %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Beschreibung
                </div> 
                <div class="col-10">
                    <%= boat.description %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Zustand
                </div> 
                <div class="col-10">
                    <%= boat.condition %>
                </div>
            </div>
        </div>
    </div>
</div>