<div class="container">
    <div class="mt-4 alert alert-success">
        Boot <%= boatname %> wurde erfolgreich gespeichert.
    </div>
    <a class="blue-button" href="/boat">Zurück zur Bootsübersicht</a>
</div>