<div class="container">
    <div class="mt-4 alert alert-success">
        Boot wurde <%= bootname %> erfolgreich gespeichert.
    </div>
    <a class="blue-button" href="/boote">Zurück zur Bootsübersicht</a>
</div>