<div class="container">
    <h1>Kategorien</h1>

    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <% categories.forEach(function(category){ %>
                    <tr>
                        <td>
                            <%= category.name %>
                        </td>
                        <td>
                            <a class="blue-button mt-4" href="/category/<%= category.id %>/destroy">Löschen</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <a class="blue-button mt-4" href="/category/new" aria-label="Hinzufügen">Hinzufügen</a>
        <a class="blue-button mt-4" href="/welcome" aria-label="Zurück">Zurück</a>
    </div>
</div>
</div>