<h1>Boote</h1>

<div>
    <table class="table">
        <tbody>
            <% categories.forEach(function(category){ %>
                <tr>
                    <td colspan="3" class="h4">
                        <%= category.name %> <BR>
                    </td>
                </tr>
                <% if (category.boats) { %>
                <% category.boats.forEach(function(boote){ %>
                    <tr>
                        <td class="h6">
                            <%= boote.name %> <BR>
                            <span class="h7"><%= boote.description %></span>
                        </td>
                        <td class="h6">
                            <%= boote.price %> &euro;
                        </td>
                    </tr>
                    <% }); %>
                    <% } %>
                <% }); %>
        </tbody>
    </table>
    <a class="blue-button mt-4" href="/welcome" aria-label="Zurück">Zurück</a>
</div>
</div>