<div class="container">
    <h2 class="mt-4">Willkommen in der Bootsübersicht</h2>
    <div class="card w-100 mt-4">
        <h4 class="card-header">
            Boote verwalten
        </h4>
        <div class="card-body text-center container">
            <div class="row mt-4">
                <div class="mb-4 col-sm">
                    <a class="blue-button" href="/boat/">Boote anzeigen</a>
                </div>
                <div class="mb-4 col-sm">
                    <a class="blue-button" href="/boat/new">Boote hinzufügen</a>
                </div>
                <div class="mb-4 col-sm">
                    <a class="blue-button" href="/">zurück</a>
                </div>
            </div>
        </div>
    </div>
</div>