  <div class="container">
    <div class="row margintop">
     <div class="col-md-4 order-md-1 order-2 align-self-center" style = " text-align:center;">
     <h1 >
     Vom Wasser aus
     </h1>
     <p >
      Entdecken Sie den Bodenseekreis von einer ganz neuen Seite.
    </p>
    <a type="button" class="btn btn-info" href="boote">SHOP</a>
    </div>
   <div class="col-md-8 order-md-2 order-1">
     <img src="images/BodenseeBanner.jpg" alt="Bild Bodensee" class="img-fluid"> 
   </div>
   </div>

   <div class="row margintop textblock">
    <div class="col-sm-12 align-self-center">
      <p >
        Bootfahren ist die beste Therapie. Frische Luft, ruhiges Wasser und Natur - hier finden Sie unser reichhaltiges Angebot zu günstigen Preisen.
      </p>
      <p >
        Nutzen Sie die Gelegenheit, in Ihrem Urlaub oder auf Ihrem Angelausflug die Wellen zu schneiden. Machen Sie Ihre Reise heller und Ihre Gefühle bunter. Ein Boot mit Motor oder ein Segelboot, dies ist nur ein Teil unseres Angebots.
        Nutzen Sie die Gelegenheit und erleben Sie einen einmaligen Ausflug auf den schönen Bodensee. Die Boote, die wir zum Mieten anbieten, werden Ihre Abenteuer komfortabler und sicherer machen. Erleben Sie das Wasser hautnah bei bis zu 5 Personen auf einem Boot.
      </p>
      <p >
        Die Anreise zu unserem Standort ist sehr einfach, ob mit dem Auto oder dem Zug. Zu Fuß sind es nur knapp 5 min und dank unseren eigenen Parkplätzen ist das Parken für unsere Kunden kostenlos.
      </p>
      <p >
        Sie können bei uns sowohl mit Bargeld als auch bargeldlos zahlen, achten Sie nur darauf, dass Sie online eine Reservierung getätigt haben, da wir Ihnen ansonsten kein Boot zur Verfügung stellen können.
      </p>
      <ul>
      <li>Segelboote - Für unsere Segelboote benötigt man einen Segelschein. Sie sind für bis zu 6 Personen ausgelegt.</li>
      <li>Motorboote - Für unser Motorboot mit unschlagbaren 50PS benötigen Sie das Bodenseeschifferpatent. Es ist für bis zu 6 Personen geeignet.</li>
      <li>Tretboote - Unsere Tretboote sind für bis zu 6 Personen geeignet und besitzen neben einer Rutsche auch eine kleine Fläche zum Liegen.</li>
      <li>Kanus - Bei unseren Kanus können Sie es sich zu 2 bequem machen und sich mit dem Ruder frei über den Bodensee bewegen.</li>
      </ul>
    </div>
    </div>

    <div class="row margintop">
      <div class="col-md-2 leercolomn" >
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Motorboote</h3>
        <img class="card-img-top" src="images/motorboot.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 leercolomn">
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Segelboote</h3>
        <img class="card-img-top" src="images/segelboot.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 leercolomn">
      </div>
    
      <div class="col-md-2 col-0 leercolomn">
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Tretboote</h3>
        <img class="card-img-top" src="images/trettboot.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 col-0 leercolomn">
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Kanus</h3>
        <img class="card-img-top" src="images/kanus.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 col-0 leercolomn">
      </div>
    </div>
<!--
  <div class="row margintop">

    <div class="col-md-6 col-lg-3 col-sm-6 margintop10" >
      <div class="card card-inverse card-primary text-center"><a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Motorboot</h4>
          <p class="card-text">ab 50 Euro/h</p>
      </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 margintop10">
      <div class="card card-inverse card-primary text-center">
        <a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Segelboot</h4>
          <p class="card-text">ab 20 Euro/h</p>
      </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 margintop10">
      <div class="card card-inverse card-success text-center">
        <a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Tretboot</h4>
          <p class="card-text">ab 10 Euro/h</p>
      </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 margintop10">
      <div class="card card-inverse card-info text-center">
        <a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Kanus</h4>
          <p class="card-text">ab 15 Euro/h</p>
      </div>
      </div>
  </div>
-->
  </div>
  </div>

