  <div class="container">
    <div class="row margintop">
     <div class="col-md-4 order-md-1 order-2 align-self-center" style = " text-align:center;">
     <h1 >
     Vom Wasser aus
     </h1>
     <p >
      Entdecken Sie den Bodenseekreis von einer ganz neuen Seite.
    </p>
    <a type="button" class="btn btn-info" href="boote">SHOP</a>
    </div>
   <div class="col-md-8 order-md-2 order-1">
     <img src="images/BodenseeBanner.jpg" alt="Bild Bodensee" class="img-fluid"> 
   </div>
   </div>
   <br> 
   <div class="row margintop textblock">
    <div class="footertxtcenter">
      <br> <h4><b>Willkommen bei unserem Bootverleih am Bodensee!</b></h4> <br> 
        <p>Die Bootsvermietung Bodensee-Helden in Konstanz bietet eine breite Palette an Booten für jeden Geschmack und jeden Anlass. Ob Sie einen entspannten Tag auf dem Wasser verbringen
           oder Ihre Fähigkeiten im Segeln verbessern möchten, wir haben das perfekte Boot für Sie.
        Bootfahren ist eine der besten Therapiemöglichkeiten. Frische Luft, ruhiges Wasser und Natur - hier finden Sie unser reichhaltiges Angebot zu günstigen Preisen.
      </p>
      <br> <h3>Willkommen an Bord</h3><br> 
      <p >
        Nutzen Sie die Gelegenheit, in Ihrem Urlaub oder auf Ihrem Angelausflug die Wellen zu schneiden. Machen Sie Ihre Reise heller und Ihre Gefühle bunter. Ein Boot mit Motor oder ein Segelboot, dies ist nur ein Teil unseres Angebots.
        Nutzen Sie die Gelegenheit und erleben Sie einen einmaligen Ausflug auf den schönen Bodensee. Die Boote, die wir zum Mieten anbieten, werden Ihre Abenteuer komfortabler und sicherer machen. Erleben Sie diese Aktivität hautnah bei bis zu 5 Personen auf einem Boot.<br> <br> 
        Die Anreise zu unserem Standort ist sehr einfach, ob mit dem Auto oder dem Zug. Zu Fuß sind es nur knapp 5 min und dank unseren eigenen Parkplätzen ist das Parken für unsere Kunden kostenlos.<br> <br> 
        Sie können bei uns sowohl mit Bargeld als auch bargeldlos zahlen, achten Sie nur darauf, dass Sie online eine Reservierung getätigt haben, da wir Ihnen ansonsten kein Boot zur Verfügung stellen können.
      </p>
      <br> <h3>Moderne Boote</h3><br> 
     <p>Unsere Flotte besteht aus Segelbooten, Motorbooten und Kajaks. Alle Boote sind auf dem neuesten Stand der Technik und werden regelmäßig gewartet, um eine sichere und zuverlässige Miete zu gewährleisten. Wir bieten flexible Mietoptionen von Tagesmieten bis hin zu Wochenend- und Wochenmieten.</p>
     <br> </div>
  </div>

      <div class="col-sm-12 align-self-center" style="font-size: large; color: #073841; ">
        <div class="footertxtcenter"> <br> <h3>Unser Angebot:</h3><br> </div>
      <ul>
      <li><b>Segelboote</b> - Für unsere Segelboote benötigt man einen Segelschein. Sie sind für bis zu 6 Personen ausgelegt.</li>
      <li><b>Motorboote</b> - Für unser Motorboot mit unschlagbaren 50PS benötigen Sie das Bodenseeschifferpatent. Es ist für bis zu 6 Personen geeignet.</li>
      <li><b>Tretboote</b> - Unsere Tretboote sind für bis zu 6 Personen geeignet und besitzen neben einer Rutsche auch eine kleine Fläche zum Liegen.</li>
      <li><b>Kanus</b> - Bei unseren Kanus können Sie es sich zu 2 bequem machen und sich mit dem Ruder frei über den Bodensee bewegen.</li>
      </ul>
    <br><br><br> 
    </div>

    <div class="row margintop">
      <div class="col-md-2 leercolomn" >
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Motorboote</h3>
        <img class="card-img-top" src="images/motorboot.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 leercolomn">
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Segelboote</h3>
        <img class="card-img-top" src="images/segelboot.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 leercolomn">
      </div>
    
      <div class="col-md-2 col-0 leercolomn">
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Tretboote</h3>
        <img class="card-img-top" src="images/trettboot.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 col-0 leercolomn">
      </div>
      <div class="col-md-3 blauecolomn">
        <h3>Kanus</h3>
        <img class="card-img-top" src="images/kanus.jpg" alt="Card image cap">
        <a href="/reservation" class="link-primary bootartenlink">Jetzt mieten</a>
      </div>
      <div class="col-md-2 col-0 leercolomn">
      </div>
    </div><br>
<!--
  <div class="row margintop">

    <div class="col-md-6 col-lg-3 col-sm-6 margintop10" >
      <div class="card card-inverse card-primary text-center"><a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Motorboot</h4>
          <p class="card-text">ab 50 Euro/h</p>
      </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 margintop10">
      <div class="card card-inverse card-primary text-center">
        <a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Segelboot</h4>
          <p class="card-text">ab 20 Euro/h</p>
      </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 margintop10">
      <div class="card card-inverse card-success text-center">
        <a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Tretboot</h4>
          <p class="card-text">ab 10 Euro/h</p>
      </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3 col-sm-6 margintop10">
      <div class="card card-inverse card-info text-center">
        <a href="/reservation">
        
        </a>
        <div class="card-block">
          <h4 class="card-title">Kanus</h4>
          <p class="card-text">ab 15 Euro/h</p>
      </div>
      </div>
  </div>
-->
  </div>
  </div>

