<div id="oeffnungszeiten">
    <div class="container pt-5 pb-5">
      <h1>Impressum</h1>
      <strong><p>Jonas Pfundstein/ Karina Kniazeva</p></strong>
      <p>Alfred-Wachtel-Straße 8</p>
      <p>78462 Konstanz</p>
      <p>Deutschland</p>
    </div>
      <div class="container pt-5 pb-5">
      <strong><p>Kontakt</p></strong>
      <p>Telefon: +49 80 123456 </p>
      <p>Fax: +49 80 123457 </p>
      <p>Email: jo261pfu@htwg-konstanz.de</p>
      <p>Email: ka631kni@htwg-konstanz.de</p>
      <p>Internet: https://bodensee-helden.onrender.com</p>

      
      </div>
  </div>