<div id="oeffnungszeiten">
    <div class="container pt-5 pb-5">
      <h1>Öffnungszeiten</h1>
      <p >Die allgemeinen Öffnungszeiten Bodensee-Helden Konstanz sind:</p>
      <p>Mo. 	08:00 - 13:00 und 14:00 - 18:00 Uhr</p>
      <p>Di. 	08:00 - 13:00 und 14:00 - 18:00 Uhr</p>
      <p>Mi. 	08:00 - 13:00 und 14:00 - 18:00 Uhr</p>
      <p>Do. 	08:00 - 13:00 und 14:00 - 18:00 Uhr</p>
      <p>FR. 	08:00 - 13:00 und 14:00 - 18:00 Uhr</p>
      <p>SA. 	08:00 - 13:00 und 14:00 - 18:00 Uhr</p>
      <p>SO. 	08:00 - 13:00</p>
      </div>
  </div>

  