<div id="openingHours">
<h1 >
Öffnunsgzeiten: 
</h1>
<p>
  Die allgemeinen Öffnungszeiten Bodensee-Helden sind:

  Mo. 	08:00 - 13:00 und 14:00 - 18:00 Uhr
  Di. 	08:00 - 13:00 und 14:00 - 18:00 Uhr
  Mi. 	08:00 - 13:00 und 14:00 - 18:00 Uhr
  Do. 	08:00 - 13:00 und 14:00 - 18:00 Uhr
  Fr. 	08:00 - 13:00 Uhr</p>
</div>