<div id="wir" >
    <div class="footertxtcenter" >
      <h1>Über uns:</h1><br>
      <h2>Teammitglieder:</h2><br> 
      <p >Wir sind Jonas Pfundstein und Karina Kniazeva die Gründer der Bodensee-Helden<br> 
          Wir studieren an der Hochschule Konstanz Wirtschaftsinformatik und Gesundheitsinformatik.<br> 
          Zusammen sind wir auf die idee gekommen, diese Website zu erschaffen und unser eigenes Business aufzuzuiehen.<br> 
          Durch unsere Erfahrung und unser wissen, welches wir im kurs Web-Technologien erfahren haben, in wessen Rahmen diese Website auch entstanden ist hoffen wir,<br> 
          einen Positiven beitrag für die Stadt Konstanz und derren Tourismus zu leisten.</p>

      <br><h2>Unsere Vision </h2><br> 
      <p>Unser Bootverleih hat es sich zum Ziel gesetzt, unseren Kunden ein unvergessliches Segel- <br> 
        und Bootsverleih-Erlebnis zu bieten. Wir bieten eine breite Palette an Booten, von kleinen Segelbooten bis hin zu luxuriösen Motorbooten, <br> 
        die für jeden Geschmack und jeden Anlass geeignet sind. Unsere Flotte ist ständig auf dem neuesten Stand der Technik und wird <br> 
        regelmäßig gewartet, um eine sichere und zuverlässige Miete zu gewährleisten.<br> 
        <br> 
        Wir bieten flexible Mietoptionen, von Tagesmieten bis hin zu Wochenend- und <br> 
        Wochenmieten, die es unseren Kunden ermöglichen, ihre Erfahrungen an ihre Bedürfnisse anzupassen. <br> 
        In Konstanz gibt es auch viele Segeltrainingskurse für Anfänger und Fortgeschrittene,<br>  
        damit Sie anschliesend das Selbstvertrauen haben, ihr eigenes Boot sicher und selbstständig zu steuern.<br> 
        <br> 
        Unsere Website ist benutzerfreundlich und bietet unseren Kunden die Möglichkeit, <br> 
        online zu buchen, um die Verfügbarkeit zu überprüfen und die Buchungsprozesse zu vereinfachen.<br> 
        <br> 
        Unsere Vision ist es, unseren Kunden die Möglichkeit zu geben, die Schönheit der Natur auf dem Wasser in vollen Zügen zu genießen und unvergessliche <br> 
        Erinnerungen zu schaffen. Wir sind bestrebt, unseren Kunden einen unvergleichlichen Service zu bieten und ihnen das <br> 
        Gefühl zu geben, willkommen und zu Hause zu sein.</p>

        <br><h2>Unsere Geschichte</h2><br>
      <p>Jonas und Karina waren während des Studiums beeindruckt von der Schönheit des Bodensees und der Vielzahl<br> 
         an Wassersportmöglichkeiten. Sie beschlossen, ihre Leidenschaft für das Segeln und ihren Traum, ihr eigenes Unternehmen zu gründen, <br> 
         zu verbinden und eröffneten einen Bootverleih in Konstanz am Bodensee. <br> 
         Sie begannen mit einer kleinen Flotte an Segelbooten und erweiterten schnell ihre Auswahl, um auch Motorboote und Kajaks anzubieten. <br> 
         Mit ihrem engagierten Team und einem starken Fokus auf Kundenservice, wurde der Bootverleih schnell zu einem beliebten Ort für diejenigen, <br> 
         die die Schönheit des Bodensees erleben wollten.</p>
      <br><h3>Social Media: </h3><br>

        <a href="https://www.instagram.cosm/Bodensee-Helden/" class="fa fa-instagram"></a>
        <a href="https://www.facebook.com/Bodensee-Helden/" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com/Bodensee-Helden/" class="fa fa-twitter"></a>
      </div>
  </div>

    